APP_ENCRYPTION_KEY_CURRENT_VERSION=1
APP_ENCRYPTION_KEYS_JSON='{"1":"EtDimzDW9dGa0qzfIKQpffTndehxH9BF0004OaBfWGo="}'
TESSERA_OIDC_ISSUER=http://127.0.0.1:5174
TESSERA_OIDC_CLIENT_ID=anvil-local
TESSERA_OIDC_CLIENT_SECRET=anvil-local-secret
